api/master.php
api/*_config.cnf

screencasts/*
external-code/*
thucydides/3rdpartylicenses.txt
thucydides/index.html
thucydides/main*
thucydides/polyfills*
thucydides/runtime*
thucydides/styles*
thucydides/assets/illustrations/*
thucydides/api/vendor/*
thucydides/api/lexicon_database.db
thucydides/api/prepTexts/*
thucydides/api/lexicon_export/*
thucydides/api/lexicon_export.zip
thucydides/backups/*
plato/3rdpartylicenses.txt
plato/index.html
plato/main*
plato/polyfills*
plato/runtime*
plato/styles*
plato/assets/illustrations/*
plato/api/vendor/*
plato/api/lexicon_database.db
plato/api/prepTexts/*
plato/api/lexicon_export/*
plato/api/lexicon_export.zip
plato/backups/*


.DS_Store
**/.DS_Store
