<h2>Add a New Semantic Group</h2>
<a routerLink="/tools/addSemanticGroup" class="btn btn-primary">Add a new semantic group</a>

<h2 class="mt-3">Choose a Semantic Group to Edit/Delete</h2>
<p>
  Select a semantic group from the list below.
</p>

<hr/>

<div *ngIf="isLoading; else notLoading">
  <div class="alert alert-info">
    Loading...
  </div>
</div>
<ng-template #notLoading>
  <mini-pagination [list]="groups" [page]="page" [basePath]="BASE_PATH">
    <div class="list-group">
      <a *ngFor="let g of groups.list" class="list-group-item list-group-item-action" routerLink="{{g.getEditLink()}}">
        <span>{{g.name}}</span>
      </a>
    </div>
  </mini-pagination>
</ng-template>
