<h1 class="text-center">Welcome!</h1>

<div class="card-deck">
  <div class="card text-center">
    <a routerLink="/search" class="card-body btn btn-outline-primary">
      <h2 class="card-title">Search Entries</h2>
      <p class="card-text">Search for entries in the lexicon.</p>
    </a>
  </div>
  <div class="card text-center">
    <a routerLink="/wordList" class="card-body btn btn-outline-primary">
      <h2 class="card-title">Word List</h2>
      <p class="card-text">View the full list of entries <br/> organized by letter.</p>
    </a>
  </div>
</div>

<div class="card-deck">
  <div class="card text-center">
    <a routerLink="/text" class="card-body btn btn-outline-primary">
      <h2 class="card-title">View Text</h2>
      <p class="card-text">View a reading text of {{author}}.</p>
    </a>
  </div>
  <div class="card text-center">
    <a routerLink="/about" class="card-body btn btn-outline-primary">
      <h2 class="card-title">About</h2>
      <p class="card-text">Read about the project.</p>
    </a>
  </div>
</div>
