.badge {
    display: inline-block !important;
    margin-right: 5px;
}

.semantic-group-badge-type-0 {
    background-color: #F2F3F4;
    color: #000000;
}

.semantic-group-badge-type-1 {
    background-color: #222222;
    color: #ffffff;
}

.semantic-group-badge-type-2 {
    background-color: #F3C300;
    color: #000000;
}

.semantic-group-badge-type-3 {
    background-color: #875692;
    color: #ffffff;
}

.semantic-group-badge-type-4 {
    background-color: #F38400;
    color: #ffffff;
}

.semantic-group-badge-type-5 {
    background-color: #A1CAF1;
    color: #000000;
}

.semantic-group-badge-type-6 {
    background-color: #BE0032;
    color: #ffffff;
}

.semantic-group-badge-type-7 {
    background-color: #C2B280;
    color: #000000;
}

.semantic-group-badge-type-8 {
    background-color: #848482;
    color: #ffffff;
}

.semantic-group-badge-type-9 {
    background-color: #008856;
    color: #ffffff;
}

.semantic-group-badge-type-10 {
    background-color: #E68FAC;
    color: #ffffff;
}

.semantic-group-badge-type-11 {
    background-color: #0067A5;
    color: #ffffff;
}

.semantic-group-badge-type-12 {
    background-color: #F99379;
    color: #ffffff;
}

.semantic-group-badge-type-13 {
    background-color: #604E97;
    color: #ffffff;
}

.semantic-group-badge-type-14 {
    background-color: #F6A600;
    color: #000000;
}

.semantic-group-badge-type-15 {
    background-color: #B3446C;
    color: #ffffff;
}

.semantic-group-badge-type-16 {
    background-color: #DCD300;
    color: #000000;
}

.semantic-group-badge-type-17 {
    background-color: #882D17;
    color: #ffffff;
}

.semantic-group-badge-type-18 {
    background-color: #8DB600;
    color: #ffffff;
}

.semantic-group-badge-type-19 {
    background-color: #654522;
    color: #ffffff;
}

.semantic-group-badge-type-20 {
    background-color: #E25822;
    color: #ffffff;
}

.semantic-group-badge-type-21 {
    background-color: #2B3D26;
    color: #ffffff;
}
